*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 100%;
}

body{
    background-color: rgb(27, 28, 92);
}

.content {
    background-color: #060a1f;
    height: 500px;
    width: 900px;
    margin: 50px auto;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 2px 2px 6px #050818;
    border: solid 1px #000;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}

button{
    height: 70px;
    width: 180px;
    border: none;
    border-radius: 8px;
    background-color: rgb(71, 73, 175);
    outline: none;
    font-size: 1.5rem;
    transition: 200ms;
}

button:hover{
    cursor: pointer;
    background-color: rgb(27, 28, 92);

}