:root{
    --cor-background-1: #CCCCFF; /*Lavander Blue*/
    --cor-background-2: #2A2A41; /*Space Cadet*/
    --cor-principal-1: #676789; /*Dark Blue Gray*/
    --cor-principal-2: #535371; /*Independence*/
    --cor-texto-1: #101019; /*Rich Black FOGRA 29*/
    --cor-texto-2: #EBEBFF; /*Lavander web*/
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 100%;
    color: var(--cor-texto-2);
    font-family: 'Roboto', sans-serif;
}

body{
    background-color: var(--cor-background-1);
    display: flex;
    align-items: center;
}

.content {
    background-color: var(--cor-principal-1);
    height: 500px;
    width: 900px;
    margin: 55px auto;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 2px 2px 6px var(--cor-background-2);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.container{
    background-color: var(--cor-principal-2);
}

button{
    height: 70px;
    width: 180px;
    border: none;
    border-radius: 8px;
    background-color: var(--cor-principal-2);
    outline: none;
    font-size: 1.5rem;
    transition: 200ms;
}

button:hover{
    cursor: pointer;
    background-color: var(--cor-principal-1);
    color: var(--cor-texto-1);
}

a{
    padding: 20px;
    text-decoration: none;
    color: var(--cor-texto-2);
    height: 70px;
    width: 180px;
    border-radius: 8px;
    background-color: var(--cor-principal-2);
    font-size: 1.5rem;
    transition: 200ms;
    text-align: center;
}

a:hover{
    cursor: pointer;
    color: var(--cor-texto-1);
    background-color: var(--cor-principal-1);
}

#display{
    font-size: 2.5rem;
}

.input{
    padding: 5px;
    height: 50px;
    width: 100px;
    outline: none;
    border: none;
    border-radius: 8px;
    margin: 2px;
    color: var(--cor-texto-1);
    font-size: 1.5rem;
    text-align: center;
}